<header class="flex lg:hidden items-center fixed z-10 top-0 start-0 end-0 shrink-0 bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark] h-[--tw-header-height]"
        id="header">
    <!-- Container -->
    <div class="container-fixed flex items-center justify-between flex-wrap gap-3">
        <a href="/">
            <img class="dark:hidden" style="max-width: 30px;" src="{{ asset('media/icon.png') }}"/>
            <img class="hidden dark:block" style="max-width: 30px;" src="{{ asset('media/icon-dark.png') }}"/>
        </a>
        <button class="btn btn-icon btn-light btn-clear btn-sm -me-1" data-drawer-toggle="#sidebar">
            <i class="ki-filled ki-menu">
            </i>
        </button>
        <button type="button" class="btn btn-sm btn-icon btn-light" data-modal="true" data-modal-target="search_modal">
            <i class="ki-filled ki-magnifier text-gray-700 text-xl"></i>
        </button>
        <div class="d-flex align-items-center ms-auto">
            <div class="dropdown">
                <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <span class="text-gray-700">{{ app.user.email }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="ki-duotone ki-exit-right fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <span class="ms-2">Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of Container -->
</header>